<!-- Host key window -->
<div id="hostKey" class="host-key well well-sm"></div>

<!-- Weapon buttons -->
<div id="swordIcon" class="sword-icon weapon-button selected-icon well well-sm">
  <span>1</span>
  <img class="ui-icon" src="img/sword.png">
</div>

<div id="arrowIcon" class="arrow-icon weapon-button well well-sm">
  <span>2</span>
  <img class="ui-icon" src="img/arrow.png">
</div>

<div id="trapIcon" class="trap-icon weapon-button well well-sm">
  <span>3</span>
  <img class="ui-icon" src="img/trap.png" style="padding-top: 16px;">
</div>


<!-- Stun bar -->
<div id="stunProgress" hidden>
    <div id="stunBar"></div>
    <div id="stunBarLabel">100%</div>
</div>